@media screen and (max-width:1024px){
    .text-hero-sen h1{
        font-size: 42px;
    }
    .padding-tb-100{
        padding: 90px 0px;
    }
    .read-our-customer-reviews .cart-reviews-box-big .cus-rev-text-all p{
        font-size: 18px;
    }
}
@media screen and (max-width:991.98px){
    .top-hero-section{
        padding: 10px 0px 60px 0px;
    }
    .text-hero-sen h1{
        font-size: 38px;
    }
    .button-design{
        padding: 10px 38px;
    }
    .img-h-fiex{
        height: 50px;
    }
    .how-to-Get-Started-sen .card img, .why-choose-us .card img{
        width: 50px;
    }
    .how-to-Get-Started-sen .card .card-body h5{
        font-size: 21px;
    }
    .how-to-Get-Started-sen .card .card-body h4, .why-choose-us .card .card-body h4{
        font-size: 19PX;
    }
    .clear-pricing .top-priz-img-full img{
        width: 100%;
    }
    .clear-pricing .cart-pricing-image-header .cart-img-wid img{
        width: 38px;
    }
    .read-our-customer-reviews .cart-reviews-box-big .customer-rev-star i{
        font-size: 14px !important;
    }
    .read-our-customer-reviews .cart-reviews-box-big .customer-rev-star ul{
        padding: 7PX 17PX;
    }
    .read-our-customer-reviews .cart-reviews-box-big .customer-name a{
        font-size: 18px !important;
    }
    .read-our-customer-reviews .cart-reviews-box-big .customer-name p{
        font-size: 16px !important;
    }
    .mobail-menu-buttons{
        margin: 0px 20px;
    }
}
@media screen and (max-width:767.98px){
    .top-header-img-right{
        padding: 150px 0px;
    }
    .top-header-img-right .hero-sen-img{
        background-position: left center;
    }
    .text-hero-sen{
        padding: 45px 0 10px 0px;
    }
    .clear-pricing .priz-box-ful-with .car-box-des-ing{
        width: 100%;
    }
    .clear-pricing .top-priz-img-full img{
        width: 60%;
    }
    .read-our-customer-reviews .rev-three-mo-fix .read-our-three{
        width: 100%;
    }
    .read-our-customer-reviews .rev-first-text-img{
        margin-bottom: 16px;
    }
    .top-header-img-right .hero-sen-img{
        background-position: center center;
    }
    .rep-mol-padd-lr-16{
        padding: 0px 16px !important;
    }
    .how-to-Get-Started-sen .cart-new-design::before{
        right: -10PX;
        top: 10px;
    }
    .logo-footer-text h3{
        font-size: 38px;
    }
    .most-reliable .label-provider-bg-img-box {
        padding: 25px !important;
    }
    .most-reliable .get-started-with-bor-red{
        border-radius: 16px;
    }
    .most-reliable{
        margin: 0px 20px;
    }
    .page-list-footer ul li a{
        font-size: 15px;
    }
    .footer-icon-list li a{
        width: 40px;
        height: 40px;
    }
    .padding-tb-100{
        padding: 40px 0px;
    }
    .padding-bottom{
        padding-bottom: 40px;
    }
    .top-hero-section{
        padding: 10px 0px;
    }
    .reviews-icon img{
        width: 40px;
    }
    .Support .telegram-channel-btn {
        margin-bottom: 16px;
    }
}
@media screen and (max-width:350.98px){

}