* {
    margin: 0px;
    padding: 0px;
    font-family: Neue Montreal;
}
body {
    background-color: #fbfbed !important;
}
:root {
    --bg-yellow-colore: #ffcd33;
    --text-yellow-colore: #ffcd33;
}
ul li {
    list-style: none;
}
.NeueMachina-Regular{
    font-family: NeueMachina-Regular;
}
.Neue-Machina-Light{
    font-family: Neue Machina-Light;
}
.NeueMontreal-Regular{
    font-family: NeueMontreal-Regular;
}
.NeueMontreal-Medium{
    font-family: NeueMontreal-Medium;
}
a {
    text-decoration: none !important;
    color: black;
}

.bg-yellow-color {
    background-color: #ffcd33 !important;
}
body .bg-color-body{
    background-color: #fbfbed;
}
.text-yellow-color {
    color: #ffcd33;
}
.bg-box-color {
    background-color: #fcf5d6;
}
.font-size-body{
    font-size: 16px;
}



.header-menu .navbar-dark .navbar-toggler-icon{
    background-image: url(../images/menu\ -icon.svg);
}
.header-menu .navbar-toggler:focus{
    box-shadow: none;
}
.header-menu .nav-item {
    padding: 10px 22px !important;
}
.header-menu .navbar .navbar-nav-scroll{
    max-height: 100%;
    overflow-y: unset;
}
.header-menu .navbar-dark .navbar-toggler{
    border: 3px solid #000;
}
.button-design {
    padding: 12px 45px;
    background-color: #141721;
    border-radius: 0PX;
    color: #FFF;
    position: relative;
}
.button-design::before {
    position: absolute;
    content: "";
    left: -6PX;
    top: 6px;
    width: 100%;
    height: 100%;
    border: 2px solid #141721;
}
.button-design:hover {
    color: #FFF;
}
.top-hero-section .text-hero-sen .font-cont {
    font-size: 18px;
    line-height: 32px;
}
.Neue-Machina-font {
    font-family: Neue Machina;
}
.Neue-Machina-font-reg {
    font-family: Neue Machina;
    font-size: 16px;
    font-weight: 500;
}
.header-menu .navbar-brand img {
    width: 200px;
}
.hero-sen-img {
    background: url(../images/plain.png);
    background-size: contain;
    background-position: right center;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.text-hero-sen {
    padding: 45px 0 80px 0px;
}
.text-hero-sen h1 {
    font-size: 56px;
    font-weight: 600;
}
.padding-tb-100 {
    padding: 100px 0px;
}
.padding-bottom {
    padding-bottom: 100px;
}
.heding-all-sen h2 {
    font-size: 32px;
}
.heding-all-sen h2 span {
    color: var(--text-yellow-colore);
}
.how-to-Get-Started-sen .card img,
.why-choose-us .card img {
    width: 75px;
}
.img-h-fiex {
    height: 75px;
}
.how-to-Get-Started-sen .cart-new-design::before {
    position: absolute;
    content: "";
    right: -14PX;
    top: 14px;
    width: 100%;
    height: 100%;
    z-index: -1;
    border: 2px solid #141721;
}
.clear-pricing .cart-pricing {
    border-radius: 15px;
    background-color: #ffdf7c;
}
.clear-pricing .cart-pricing .listig-design .text-priz {
    border-bottom: 1.8px solid #0000002a;
}
.clear-pricing .waiting-for-sen ul li img {
    width: 36px;
}
.clear-pricing .cart-pricing .listig-design .priz-text-hed,
.clear-pricing .cart-pricing .listig-design .priz-most-priz {
    font-weight: 500;
}
.cart-pricing-image-header {
    height: 75px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
.clear-pricing .cart-pricing .cart-pricing-image-header .card-imgs {
    position: relative;
}
.clear-pricing .cart-pricing .cart-pricing-image-header .card-imgs::before {
    position: absolute;
    content: "";
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    border: 1px solid #000;
    height: 70%;
}
.waiting-for-sen .button-get-std a {
    padding: 10px 31px;
    border-radius: 11px;
    transition: 0.5s;
    font-size: 16px;
}
.waiting-for-sen .button-get-std a:hover {
    color: #fff;
}
.how-to-Get-Started-sen .card .card-body h5 {
    font-size: 24px;
}
.how-to-Get-Started-sen .card .card-body h4,
.why-choose-us .card .card-body h4 {
    font-size: 23PX;
}
/* faq sen css start  */
.faq-sen .accordion .accordion-item {
    margin: 18px 0px;
    border: 0px;
    border-radius: 15px;
    overflow: hidden;
}
.faq-sen .accordion .accordion-item .accordion-button:focus {
    box-shadow: none;
}
.faq-sen .accordion .accordion-item .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #ffcd33;
}
.faq-sen .accordion .accordion-item .accordion-button {
    padding: 16px 20px;
    background-color: #fcf5d6;
    font-size: 20px;
}
.faq-sen .accordion .accordion-item .accordion-button:not(.collapsed)::after {
    background-image: url(../images/aco1.svg);
}
.cart-reviews-box-big {
    padding: 20px;
    border-radius: 30px;
}
.read-our-customer-reviews .cart-reviews-box-big .cus-rev-text-all p {
    font-size: 20px;
}
.read-our-customer-reviews .cart-reviews-box-big .customer-rev-star ul {
    background-color: #d6eac5;
    padding: 12PX 26PX;
}
.read-our-customer-reviews .cart-reviews-box-big .customer-rev-star ul {
    color: #40bc80;
}
.read-our-customer-reviews .cart-reviews-box-big.three-box-rev .customer-rev-star ul {
    padding: 7PX 14PX;
}
.most-reliable .custum-wid-des {
    max-width: 60%;
}
.most-reliable .custum-wid-des h2 {
    font-size: 46px;
}
.most-reliable .label-provider-bg-img-box {
    background: url(../images/Vecto-new.png);
    background-position: center center;
    background-size: cover;
}
.most-reliable .get-started-with-bor-red {
    border-radius: 40px;
    overflow: hidden;
}
.footer-bottom .footer-bg-img {
    background: url(../images/footer-bg-images.png);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.font-fem-Neue-Machina {
    font-family: Neue Machina-Light;
}
.logo-footer-text h3 {
    font-size: 45px;
}
.page-list-footer ul li a {
    font-size: 18px;
}
.footer-bottom .logo-footer-text .form-floating .form-control {
    padding: 16px 20px 16px 0px;
    background-color: transparent;
    border: 0px;
    border-bottom: 2px solid #000;
    border-radius: 0px;
    box-shadow: none;
}

.footer-bottom .logo-footer-text .form-floating label {
    padding: 16px 20px 16px 0px;
}

.footer-bottom .logo-footer-text .form-floating>.form-control:focus~label {
    transform: scale(.85) translateY(-1.5rem) translateX(0.15rem);
}

.footer-icon-list li a {
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.clear-pricing .cart-pricing .listig-design a {
    font-size: 18px;
}
.footer-bottom .form-floating>.form-control:not(:placeholder-shown)~label{
    transform : scale(.85) translateY(-1.4rem) translateX(.15rem)
}


/* ================================ */
/* Order Label page css start  */
/* ================================ */

.card{
    box-shadow: 0px 0px 8px #00000014;
}

/* all form-select  css  */
    .Order-Label .form-select:focus,.Support .form-select:focus{
        box-shadow: none;
        border-color: #ffcd33;
    }
    body .Order-Label .form-select,body .Support .form-select{
        background-color: #f3f3e6;
        padding: 10px 36px 10px 12px;
        font-size: 14px;
    }
    .Order-Label .select-items div:hover {
        background-color: rgba(0, 0, 0, 0.1);
    }

/* all form-select  css  */

 /* .all form-control css start */

    body .Order-Label .form-control,body .Support .form-control{
        background-color: #f3f3e6;
        padding: 10px 12px 10px 12px;
        font-size: 14px;
    }
    .Order-Label .form-control:focus,.Support .form-control:focus{
        border-color: #ffcd33;  
        box-shadow: 0 0 8px #ffcc333b;
    }
    .Order-Label .input-group-text{
        background-color: #f3f3e6;
    }

/* .all form-control css end */

/* card-header css start */
.Order-Label .card-header {
    background-color: transparent;
}
/* card-header css end */

/* checkbox css start  */
    body .Order-Label .form-switch .form-check-input:focus{
        border-color: #ffcd33;  
        box-shadow: 0 0 8px #ffcc333b;  
        background-image: url(../images/checkbox-foc.svg);
    }
    body .Order-Label .form-check-input:checked {
        background-color: #ffcd33;
        border-color: #ffcd33;
    }
    body .form-switch .form-check-input:checked {
        background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB4bWxucz0naHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmcnIHZpZXdCb3g9Jy00IC00IDggOCc+PGNpcmNsZSByPSczJyBmaWxsPScjRkZGJy8+PC9zdmc+) !important;
        background-position: 100%;
    }
/* checkbox css start  */

/* Address Search filds css start  */
    body .Order-Label .geoapify-autocomplete-input{
        background-color: #f3f3e6;
        padding: 10px 36px 10px 12px;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        width: 100%;
        font-size: 14px;
    }
    .Order-Label .geoapify-close-button{
        position: absolute;
        right: 5px;
        top: 0;
        height: 100%;
        display: flex;
        align-items: center;
    }
/* Address Search filds css start  */

/* =============================== */
/* Order Label page css end  */
/* =============================== */


.Support .telegram-channel-btn {
    background-color: #2dadcf;
    border-color: #2dadcf;
    font-size: 18px;
}
.Support .telegram-channel-btn:hover{
    background-color: #248aa6;
    border-color: #248aa6;
}

ol.breadcrumb li a.ather-pages:hover{
    color: #ffcc33dc !important;
}


.animate__animated{
    animation-delay: 0.02s; 
}