@font-face {
    font-family: Neue Montreal;
    src: url(../fonts/NeueMontreal-Medium.otf);
}
@font-face {
    font-family: NeueMontreal-Regular;
    src: url(../fonts/NeueMontreal-Regular.otf);
}
@font-face {
    font-family: NeueMontreal-Medium;
    src: url(../fonts/NeueMontreal-Medium.otf);
}
@font-face {
    font-family: NeueMontreal-Light;
    src: url(../fonts/NeueMontreal-Light.otf);
}


@font-face {
    font-family: Neue Machina;
    src: url(../fonts/NeueMachina-Ultrabold.otf);
}
@font-face {
    font-family: Neue Machina-Light;
    src: url(../fonts/NeueMachina-Light.otf);
}
@font-face {
    font-family: NeueMachina-Regular;
    src: url(../fonts/NeueMachina-Regular.otf);
}

